<form ngNativeValidate (ngSubmit)="onSubmit(itemForm.value)" #itemForm="ngForm">

    <div class="form-group">
        <label for="name">Item name</label>
        <input autocomplete="off" class="form-check-input" [(ngModel)]="model.name" type="text" class="form-control" id="name" name="name"
            required />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea [(ngModel)]="model.description" class="form-control" id="description" name="description"
            required></textarea>
    </div>

    <div class="form-group">
        <label for="brandName">Brand name</label>
        <input autocomplete="off" list="brands" [(ngModel)]="model.brandName" class="form-control" id="brandName"
            name="brandName" required />
        <datalist id="brands">
            <option *ngFor="let brand of brands" [value]="brand">
                {{ brand }}
            </option>
        </datalist>
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <input list="categories" autocomplete="off" [(ngModel)]="model.category" class="form-control" id="category"
            name="category" required>
        <datalist id="categories">
            <option *ngFor="let category of categories" [value]="category">
                {{ category }}
            </option>
        </datalist>
    </div>

    <div class="form-group">
        <label for="itemCondition">Item condition</label>
        <select [(ngModel)]="model.itemCondition" class="form-control" id="itemCondition" name="itemCondition" required>
            <option value="1">New</option>
            <option value="2">Like new</option>
            <option value="3">Signs of use</option>
        </select>
    </div>

    <div class="form-group">
        <label for="shipping">Shipping payer</label>
        <select [(ngModel)]="model.shipping" class="form-control" id="shipping" name="shipping" required>
            <option value="0">Seller</option>
            <option value="1">Buyer</option>
        </select>
    </div>

    <div class="form-group center">
        <button type="submit" class="btn btn-primary">
            Predict
        </button>
    </div>

    <div class="form-group pred-container">
        <label class="pred-label">Prediction:</label>
        <span class="pred-val">{{predictedPrice}}$</span>
    </div>


</form>