@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.form-group {
    margin: auto;
    width: 30%;
    margin-bottom: 15px;
}

.center {
    margin-bottom: 20px;
    text-align: center;
}

.pred-label {
    font-size: 150%;
    margin-right: 10px;
}

.pred-val {
    font-size: 150%;
}

.pred-container {
    margin-top: 50px;
}